server:
  port: 8081
  servlet:
    encoding:
      charset: utf-8
      force: true

spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/todoList
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      '[hibernate.default_batch_fetch_size]': 100
      '[hibernate.format_sql]': true
    show-sql: true
  output:
    ansi:
      enabled: always
  mvc:
    pathmatch:
      matching-strategy : ant_path_matcher

logging:
  level:
    '[appCenter.guCoding.todoList]': DEBUG
    '[org.hibernate.type]': TRACE

jwt:
  secret : "구코딩" # 서버만 알고있는 시크릿 키
  expiration_time : 604800000 # 1000 * 60 * 60 * 24 * 7 1주일 시간
  token_prefix : "Bearer "
  header : "Authorization"
